@charset "UTF-8";
html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体", sans-serif;
  font-weight: 500;
  color: #333;
  letter-spacing: 0.1em;
  line-height: 1.8;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

h2, h3, h4, h5 {
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
  vertical-align: bottom;
}

figure {
  margin: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

ul, li, dl, dt, dd {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  transition: all .6s ease;
}

a:hover {
  transition: all .6s ease;
}

p {
  margin: 0;
}

html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体", sans-serif;
  font-weight: 500;
  color: #333;
  letter-spacing: 0.1em;
  line-height: 1.8;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

h2, h3, h4, h5 {
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
  vertical-align: bottom;
}

figure {
  margin: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

ul, li, dl, dt, dd {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  transition: all .6s ease;
}

a:hover {
  transition: all .6s ease;
}

p {
  margin: 0;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-top: 150px;
}

@media (min-width: 768px) {
  .container {
    margin: 150px auto 0;
    max-width: 1030px;
  }
}

.container .sectionTitle {
  font-size: 2.4rem;
  text-align: center;
  padding-bottom: 75px;
}

.container .section-subtitle {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 34px;
}

.container .section-description {
  font-size: 1.4rem;
  line-height: 2;
  font-weight: bold;
}

html {
  font-size: 62.5%;
}

.header__nav {
  width: 100%;
  height: 75px;
  position: fixed;
  z-index: 10;
  background: #1B1310;
}

@media (min-width: 768px) {
  .header__nav {
    display: flex;
    padding: 0 120px;
  }
}

.header__nav .header__drawer {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: relative;
  height: 75px;
  padding: 25px 15px;
}

.header__nav .header__drawer a {
  font-size: 26px;
  color: #fff;
}

.header__nav .header__toggle {
  display: block;
  position: fixed;
  width: 25px;
  height: 16px;
  cursor: pointer;
  right: 15px;
  z-index: 3;
}

@media (min-width: 768px) {
  .header__nav .header__toggle {
    display: none;
  }
}

.header__nav .header__toggle span {
  display: block;
  position: absolute;
  width: 25px;
  border-bottom: solid 2px #fff;
  transition: .35s ease-in-out;
}

.header__nav .header__toggle span:nth-child(1) {
  top: 0px;
}

.header__nav .header__toggle span:nth-child(2) {
  top: 8px;
}

.header__nav .header__toggle span:nth-child(3) {
  top: 16px;
}

.header__nav .header__toggle.active span:nth-child(1) {
  top: 8px;
  transform: rotate(-45deg);
}

.header__nav .header__toggle.active span:nth-child(2), .header__nav .header__toggle.active span:nth-child(3) {
  top: 8px;
  transform: rotate(45deg);
}

.header__nav .header__menu {
  text-align: center;
  background-color: #1B1310;
  height: 90vh;
  transition: 0.5s ease;
  transform: translateX(-100%);
}

@media (min-width: 768px) {
  .header__nav .header__menu {
    width: 100%;
    background-color: transparent;
    margin: 0 10px;
    transform: translateX(0);
  }
}

.header__nav .header__menu.open {
  transform: translateX(0);
}

.header__nav .header__menu ul {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (min-width: 768px) {
  .header__nav .header__menu ul {
    height: 75px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: static;
    transform: none;
    margin: 0 10px;
  }
}

.header__nav .header__menu li {
  margin-bottom: 50px;
}

@media (min-width: 768px) {
  .header__nav .header__menu li {
    margin-bottom: 0;
  }
  .header__nav .header__menu li:not(:first-child) {
    margin-left: 50px;
  }
}

.header__nav .header__menu a {
  color: #fff;
  font-size: 1.6rem;
}

.fv {
  background-image: url(../img/fv-bgi_sp@2x.jpg);
  height: 90vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 768px) {
  .fv {
    background-image: url(../img/fv-bgi@2x.jpg);
    background-position: bottom;
  }
}

.fv .fv__tagline {
  color: #fff;
  font-size: 3rem;
  font-weight: bold;
  border: 2px solid #fff;
  padding: 30px 40px;
}

.about .container {
  margin-top: 100px;
}

.service .service__wrap1 {
  margin-bottom: 35px;
}

@media (min-width: 768px) {
  .service .service__wrap1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
    margin-bottom: 50px;
  }
}

@media (min-width: 768px) {
  .service .service__wrap2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

@media (min-width: 768px) {
  .service .service__inner {
    width: calc(50% - 35px);
  }
}

.service .section-description {
  margin-bottom: 40px;
}

@media (min-width: 768px) {
  .service .section-description {
    margin-bottom: 0;
  }
}

@media (min-width: 768px) {
  .service .service__img {
    width: calc(50% - 35px);
  }
}

.service .service__img img {
  object-fit: cover;
}

.news .container {
  padding-right: 28px;
  padding-left: 28px;
}

@media (min-width: 768px) {
  .news .news__wrap {
    display: flex;
    display: flexbox;
    justify-content: space-between;
  }
}

.news .news__inner {
  box-shadow: 0px 0px 6px rgba(27, 19, 16, 0.4);
}

@media (min-width: 768px) {
  .news .news__inner {
    width: calc((100% - 68px) / 3);
  }
}

.news .news__inner p {
  padding: 25px 32px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  font-size: 1.3rem;
  font-weight: bold;
}

.news .news__inner:not(:last-child) {
  margin-bottom: 50px;
}

@media (min-width: 768px) {
  .news .news__inner:not(:last-child) {
    margin-bottom: 0;
  }
}

@media (min-width: 768px) {
  .contact {
    max-width: 700px;
    margin: 0 auto;
  }
}

.contact p {
  font-size: 1.6rem;
}

.contact input {
  width: 100%;
  height: 30px;
  margin-bottom: 15px;
  border: 1px solid #141414;
}

.contact textarea {
  width: 100%;
  border: 1px solid #141414;
}

.contact a {
  display: block;
  width: 235px;
  padding: 15px 95px;
  margin: 50px auto;
  background: #1B1310;
  border-radius: 51px;
  color: #fff;
  text-align: center;
  box-shadow: 0px 0px 6px rgba(27, 19, 16, 0.4);
  font-size: 2rem;
  font-weight: bold;
}

.footer p {
  background-color: #141414;
  text-align: center;
  padding: 20px 0;
  height: 60px;
  color: #fff;
  font-size: 1.4rem;
}
