@charset "UTF-8";
html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体", sans-serif;
  font-weight: 500;
  color: #333;
  letter-spacing: 0.1em;
  line-height: 1.8;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

h2, h3, h4, h5 {
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
  vertical-align: bottom;
}

figure {
  margin: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

ul, li, dl, dt, dd {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  transition: all .6s ease;
}

a:hover {
  transition: all .6s ease;
}

p {
  margin: 0;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-top: 150px;
}

@media (min-width: 768px) {
  .container {
    margin: 150px auto 0;
    max-width: 1030px;
  }
}

.container .sectionTitle {
  font-size: 2.4rem;
  text-align: center;
  padding-bottom: 75px;
}

.container .section-subtitle {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 34px;
}

.container .section-description {
  font-size: 1.4rem;
  line-height: 2;
  font-weight: bold;
}
